## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/dist/
/_site/
/public/
/deploy/

storybook-static
custom-elements.json


## TS
tsconfig.tsbuildinfo
.vercel

## Ignore  built files
src/**/*.js
src/**/*.js.map
src/**/*.d.ts