rh-footer ul[slot="links"],
rh-footer [slot="links"] ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 0;
	list-style: none;
	padding: 0;
}

rh-footer :is([slot="links"]) :is(h1, h2, h3, h4, h5) {
	font-weight: 500;
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 0;
}

rh-footer :is([slot="links"]) li {
	margin: 0;
	padding: 0;
}

rh-footer :is([slot="links"]) a {
	--_color: var(--link-color, #fff);
	--_font-size: var(--link-font-size, 14px);
	display: block;
}

rh-footer :is([slot="links"]) a {
	color: var(--_color) !important;
	font-size: var(--_font-size);
	text-decoration: none;
}

rh-footer :is([slot="links"]) a:is(:hover, :focus-within) {
	text-decoration: underline;
}
