rh-footer :is([slot=links]) ul {
	display: flex;
	flex-direction: var(--rh-footer-links-flex-direction, column);
	gap: var(--rh-footer-links-gap, 10px);
	margin: 0;
	list-style: none;
	padding: 0;
  flex-wrap: wrap;
}

rh-footer :is(rh-footer-links-wrapper, rh-footer-links) :is(h1, h2, h3, h4, h5) {
	font-weight: 500;
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 0;
}

rh-footer :is(rh-footer-links-wrapper, rh-footer-links) li {
	margin: 0;
	padding: 0;
  display: contents;
}

rh-footer :is([slot=links]) rh-footer-links {
  width: var(--rh-footer-links-width, calc(
    (100% / var(--rh-footer--links-columns, 4)) -
      var(--pf-global--spacer--xl, 32px)
  ));
}

rh-footer :is([slot=links]) a {
  width: var(--rh-footer-link-width, 100%);
}

rh-footer :is(rh-footer-links-wrapper, rh-footer-links) a {
	--_color: var(--link-color, #fff);
	--_font-size: var(--link-font-size, 14px);
	display: block;
	color: var(--_color) !important;
	font-size: var(--_font-size);
	text-decoration: none;
}

rh-footer :is(rh-footer-links-wrapper, rh-footer-links) a:is(:hover, :focus-within) {
	text-decoration: underline;
}

rh-footer :is([slot=footer-primary], [slot=footer-secondary]) ul {
  display: contents;
}
